<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/admin_layout"
>
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container mt-5">

        <div class="mt-3 mb-2">
            <a href="/admin/products/add" class="btn btn-outline-success">Добавить товар</a>
        </div>

        <table class="table table-secondary table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Цена</th>
                <th scope="col">Изображение</th>
                <th scope="col">Редактирование</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td class="align-middle text-center" th:text="${product.getId()}"></td>
                <td class="align-middle" th:text="${product.getName()}"></td>
                <td class="align-middle" th:text="${product.getDescription()}"></td>
                <td class="align-middle" th:text="${product.getPrice()}"></td>
                <td class="align-middle">
                    <img th:src="${product.getImage()}" class="img-fluid" width="100"/>
                </td>
                <td class="align-middle text-center">
                    <a th:href="@{/admin/products/edit/{id}(id=${product.getId()})}"
                       class="btn btn-sm btn-outline-success me-2">Редактировать</a>
                    <!--                    <form class="d-inline" th:action="@{/admin/products/delete/{id}(id=${product.getId()})}"-->
                    <!--                          method="post" onsubmit="return confirm('Вы действительно хотите удалить этот товар?');">-->
                    <!--                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>-->
                    <!--                    </form>-->
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
</body>
</html>